.card {
    border: 0px solid red;
    background-color: rgb(235, 225, 212);
    margin-top: 25px;
    margin-bottom: 20px;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}