.signup-box {
    border: 0px red solid;
    flex-direction: column;
    align-content: center;
}

.box-card {
    border: 0px rgb(128, 184, 145) solid;
}

.title {
    font-size: xx-large;
    font-weight: 400;
    letter-spacing: 1px;
}

.signup-box p {
    margin-bottom: 15px;
    margin-top: 15px;
}

.name-field {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}

.send-icon {
    margin-left: 10px;
}

.field-note {
    color: red;
}